body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.form {
  display: grid;
  place-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 700px;
  background-color: white;
  color: lightskyblue;
  border-radius: 16px;
}

.logo-image {
  width: 100px;
  height: 100px;
  align-items: center;
  position: absolute;
  top: 50px;
}
label {
  font-size: 24px;
  font-weight: bold;
}

input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightskyblue;
  font-style: italic;
  font-size: 14px;
  text-align: center;
}

input:user-invalid {
  border: 1px solid red;
}

button {
  display: grid;
  place-content: center;
  color: white;
  height: 30px;
  background-color: lightskyblue;
  border: 1px solid lightskyblue;
  border-radius: 10px;
  padding: 10px;
}

button:hover {
  background-color: rgb(91, 163, 207);
  color: white;
}
button:disabled {
  background-color: lightgray;
}

.side-text {
  color: lightskyblue;
  font-weight: bolder;
  font-size: 64px;
  width: 100%;
}
.top {
  transform: rotate(-90deg);
}

.bottom {
  transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .bottom,
  .top {
    position: absolute;
    font-size: 24px;
    width: 100%;
  }
  .top {
    left: -150px;
  }
  .bottom {
    right: -150px;
  }
  .logo-image {
    height: 65px;
    width: 65px;
    top: 10px;
  }
  .form {
    max-width: 350px;
    display: grid;
    place-content: center;
    place-items: center;
  }
  input {
    width: 100%;
    max-width: 320px;
    height: 20px;
    text-align: center;
  }
  button {
    width: 100%;
  }
}

@media screen and (max-width: 1236px) {
  .top,
  .bottom {
    font-size: 32px;
  }
}
