body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  margin: 0;
  height: 100vh;
  width: 20%;
  background-color: white;
  border-radius: 0 16px 16px 0;
}
ul {
  display: grid;
  gap: 20px;
}
ul > li {
  list-style-type: none;
}
ul > li:hover {
  text-decoration: underline;
  text-decoration-color: lightskyblue;
}
ul > li > a {
  text-decoration: none;
  color: lightskyblue;
  font-size: 18px;
  font-weight: bold;
}

.list-item-link {
  display: flex;
  align-items: center;
  justify-content: left;
}

.log-out-option {
  color: var(--log-out);
  position: absolute;
  bottom: 40px;
}
.log-out-option:hover {
  text-decoration: underline;
  text-decoration-color: var(--log-out);
}
.list-icon {
  color: lightskyblue;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.red {
  color: var(--log-out);
}

.page {
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 16px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2px;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

#grafico-barre {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2 / span 2;
  width: 100%;
  max-height: 500px;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 16px 16px 0 0;
    z-index: 100;
  }
  .log-out-option {
    position: inherit;
    top: 0;
    bottom: 0;
  }
  ul {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  ul > li {
    margin-top: 0;
  }
  ul > li:last-child {
    display: none;
  }
  .list-text {
    display: none;
  }
  body {
    justify-content: center;
  }
  .page {
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
  }
  #grafico-barre {
    grid-column: 1;
  }
}
